.btn-submit {
  background-color: #328cc1;
  color: #fff;
  padding: 10px;
  width: 200px;
  margin: 5px 10px;
  font-size: 1.1rem;
  transition: all .3s ease;
}

.btn-submit:hover {
  background-color: #083c5d;
  transform: scale(1.2);
}
