<<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>GlassClass | Durham, NC</title>
    <meta name="description" content="Classes in stained and fused glass in Durham NC">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <header>
      <h1>GlassClass</h1>
      <div class='hero'>
        <p>Big Glass Pictures</p>
      </div>
      <nav>
        <ul>
          <li>Classes</li>
          <li>Calendar</li>
          <li>Camp</li>
          <li>News</li>
          <li>Gallery</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <main>
      <article class='headline'>
        <h2>Interested in creating with glass?</h2>
        <h3>We can teach you.</h3>
      </article>


    </main>

    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyBTR0afZTv8JN1VryTfjwfXzkwy9frd8Tw",
        authDomain: "glassclass-540b1.firebaseapp.com",
        databaseURL: "https://glassclass-540b1.firebaseio.com",
        projectId: "glassclass-540b1",
        storageBucket: "glassclass-540b1.appspot.com",
        messagingSenderId: "597215007636"
      };
      firebase.initializeApp(config);
    </script>
    <script src="js/main.js"></script>
  </body>
  </html>
